.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 12px;
  margin: 10px 5px;
  /* background-color: #fff; */
  background-color: #e6c9b3;

  border-radius: 10px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.media:hover {
  /* background-color: #e0d2c7; */
  background-color: #fff;
  color: black;
}
@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

.subTitle {
  display: flex;
  color: #777;
  justify-content: space-between;
  padding: 0 3px;
  /* padding-bottom: 5px; */
}

span {
  font-size: 13px;
}
