/* * {
  scroll-behavior: smooth;
} */

.app {
  min-height: 100vh;
  background-color: #f3e5d8; /*#e6e6fa; /* digital lavender */
  color: #222;
  padding-top: 130px;
  padding-bottom: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 700px) {
  .app {
    padding-top: 90px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Roboto";
  font-size: 3vw;
  padding: 4vh 0 2vh 0;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 5vw;
  }
}
